{% extends "layout.html" %}


{% block body %}

<h3>Hakkımızda</h3>
<hr>

<p>
        Merhaba ben Hediye Orhan 15 Mayıs 2000 yılında Konya’da doğdum. İlköğretim ve ortaöğretimimi Kocatepe Okulunda tamamladım.2014 yılında Başak Kolejinde lise hayatıma başladım.2015 yılında okul değiştirerek Karatay Toki Anadolu Lisesine geçiş yaptım ve 2018 yılında buradan mezun oldum. Şu an Burdur Mehmet Akif Ersoy Üniversitesi Bilgisayar Mühendisliği 1.sınıf öğrencisiyim. Şu an 1. Sınıf olduğum için çok fazla bilgi birikimim yok bildiğim kodlama dilleri C ve C#. İlerleyen zamanlarda kendimi geliştirmek istiyorum.
</p>
{% endblock body %}
